<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582836101684-55h9dcldk4mebma22dqq2k0audcvvied.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582836101684-55h9dcldk4mebma22dqq2k0audcvvied</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>582836101684-2jnhbemacp1iqodk796sn8ih9iaqb7sp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBYWbx1cbm1u4CLC13VS5AYgBXjiKBoVA</string>
	<key>GCM_SENDER_ID</key>
	<string>582836101684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ai-nate-omi</string>
	<key>PROJECT_ID</key>
	<string>omi-how-to-learn-fd5fd</string>
	<key>STORAGE_BUCKET</key>
	<string>omi-how-to-learn-fd5fd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582836101684:ios:4c6eb935ff62353a15e061</string>
</dict>
</plist>